* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d7e2ff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #7c71ff;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

#MenuNavegacao {
    display: flex;
    padding: 10px 20px;
    list-style: none;
    gap: 20px;
}

#MenuNavegacao li a {
    padding: 8px 14px;
    border-radius: 25px;
    text-align: center;
    background-color: #d9d9d9;
    color: #200065;
    font-size: 0.8em;
    transition: 0.3s;
    text-decoration: none;
}

#btmInicio {
    background-color: #200065 !important;
    color: #FFFFFF !important;
}

section {
    padding: 20px 40px;
}

section h1, h2, h3, h4 {
    font-family: 'Abril Fatface', serif;
    text-align: center;
    color: #200065;

}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
}

.imglist {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0;
}

#clientes {
    background-color: #AEBFEB;
    padding: 20px;
}

#clientesarticles {
    display: flex;
    gap: 30px;

}

#clientesarticles article {

    background-color: #d4e0ff;
    padding: 20px;
    text-align: left;
    width: 430px;
    margin-top: 30px;

}

#clientesarticles article  h4 {
    color: #1e1e1e;
    text-align: left;
    margin-bottom: 8px;
}

.imgclientes {
    width: 90px;
    margin: 10px 0px;
    border: 2px solid #1e1e1e;
}

#meuspedidos {
    background-color: #d7e2ff;
    padding: 60px 40px;


}

.table, th, td {
    padding: 15px 90px;
    border-collapse: collapse;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #1e1e1e;
    font-size: 'Inter', sans-serif;
    margin:0px auto;
    margin-top: 30px;
    flex-shrink: 0;
    
        
}

.headertable {
    background-color: #7c71ff;
    height: 50px;
    width: 250px;
    
            
}

.bodytable {
    background-color: #FFFFFF;
    justify-content: flex-start;
    

}

#faleconosco {
    background-color: #AEBFEB;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

#faleconosco h2 {
    margin-bottom: 30px;
   
}

.formtalkus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    
    
}

.formtalkus label {
    margin-bottom: 2px;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

.formtalkus input {
   
    margin-bottom: 5px;
    border: 1px solid #AAAAAD;
    width: 1141px;
    height: 48px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.formtalkus button {
    background-color: #313131;
    color: #E6DBD4;
    width: 200px;
    border: #E6DBD4;
    padding: 10px 35px;
    align-self: center;
    margin-top: 10px;
    border-radius: 10px;
}

.formtalkus button:hover {
    background-color: #E6DBD4;
    color: #FFF;
}

.formtalkus textarea {
    margin-left: 50px;
    margin-right: 50px;
    width: 1141px;
    height: 132px;

}

footer {
    background-color: #3f3f3f;
    width: 100%;
    height: 100px;
    color: #fff;
   
               
}


